{% extends 'home.html' %}

{% block content %}

{% load humanize %}

<div class="text-xl text-center mt-5 mb-5 font-extrabold">ประวัติการสั่งซื้อ</div>

<div class=" flex-col gap-2 justify-start max-w-4xl mx-auto">
    <h1 class="ml-2 mr-2"><i class="fa-solid fa-list"></i>&nbsp;ประวัติการสั่งซื้อของคุณ</h1>
</div>

<div class="flex flex-col gap-2 items-center justify-end mt-5 mr-2 ml-2">
    <!-- Card 1 -->
    {% if orders %}
    {% for order in orders %}
    <div
        class="rounded-lg w-full max-w-4xl grid grid-cols-12  shadow shadow-md p-3 gap-2 items-center border border-gray-500 {% if order.is_paid == True %}bg-green-100{% else %} bg-red-100 {% endif %}">

        <!-- ตำแหน่งรูปภาพ -->
        <!-- <div class="col-span-1">
            <img src="{{ cart_item.food.img.url }}" alt="Food Image" class="w-full h-auto rounded">
        </div> -->

        <!-- ตำแหน่งข้อความ -->
        <div class="col-span-10 xl">
            <p class="text-[#4B5563] font-semibold"> เลขที่ออร์เดอร์ {{ order.id }} </p>
            <p class="text-sm text-gray-800 font-light">รายการ {{ order.items }} </p>
            <pre class="text-lg text-gray-800 font-light">รวม : {{ order.total_price }}</pre>
            <div class="flex justify-between items-center">
                <p class="text-sm text-gray-800 font-light">
                    สถานะ :
                    {% if order.is_paid == True %}
                    เสร็จสิ้น
                    {% else %}
                    ยกเลิกแล้ว
                    {% endif %}
                </p>
                <p class="text-sm text-right text-gray-800 font-light">
                    {% if order.is_paid == True %}
                    <i class="fa-solid fa-star text-green-500"></i>&nbsp; ได้รับ {{ order.total_price }} คะแนน
                    {% endif %}
                </p>
            </div>
        </div>




    </div>
    {% endfor %}
    {% else %}
    <div
        class="rounded-lg w-full max-w-4xl grid grid-cols-12 bg-blue-100 shadow shadow-md p-3 gap-2 items-center border border-gray-500">

        <div class="col-span-10 xl">
            <p class="text-[#4B5563] font-semibold"> ยังไม่มีรายการออร์เดอร์ </p>
        </div>

    </div>
    {% endif %}


</div>



<div class=" flex-col gap-2 justify-start max-w-4xl mx-auto">
    <h1 class="text-lg font-semibold mt-5 ml-2 mr-2"><i
            class="fa-solid fa-file-invoice-dollar"></i>&nbsp;ราคารวมทั้งหมด: {{ total|floatformat:2 }} บาท
    </h1>
</div>


{% endblock %}